:root {
  --black: #000;
  --white: #fff;
}

.baseStyle {
  background-color: var(--black);
  color: var(--white);
}

.someStyle {
  composes: baseStyle;
  font-size: 18px;
}

.toolbarMenuIcon {
	color : #fff!important;
}

.toolbarTitleText {
	color : #fff!important;
}

.toolbarMoreVert {
	color : #fff!important;
}

.toolbar {
	background-color: #007bc4 !important;
}
